/***accent-color - #2196F3
dark-color - #212121
main-color - #757575
wait - #FFFFFF
adress-link-color - color: rgba(255, 255, 255, 0.6)
**/

:root {
  --main-text-color: #757575;
  --dark-text-color: #212121;
  --main-white-color: #ffffff;
  --adress-link-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  background-color: var(--main-white-color);
  color: var(--main-text-color);

  margin: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
}

section {
  padding-top: 0px;
  padding-bottom: 94px;
}

h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--dark-text-color);
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.btn {
  display: inline-block;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-white-color);
  background-color: transparent;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
}
.btn-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--dark-text-color);
  background-color: transparent;
}

.btn:hover,
.btn:focus,
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

.hero {
  background: rgba(47, 48, 58, 0.8);
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-white-color);

  margin-top: 0;
  margin-bottom: 0px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--dark-text-color);
}

.main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.benefits-title,
.names {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--dark-text-color);
}

.what-we-do-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  background: rgba(47, 48, 58, 0.8);
}

.projects {
  font-family: Raleway, sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  tter-spacing: 0.03em;
  text-decoration: none;
  color: var(--dark-text-color);
}

.projects a {
  text-decoration: none;
}

.footer {
  background: #2f303a;
}

.join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}

.address {
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}

.address-linl {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--adress-link-color);
}
