/***accent-color - #2196F3
dark-color - #212121
main-color - #757575
wait - #FFFFFF
adress-link-color - color: rgba(255, 255, 255, 0.6)**/

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}

@font-face {
}
