/***accent-color - #2196F3
dark-color - #212121
main-color - #757575
wait - #FFFFFF
adress-link-color - color: rgba(255, 255, 255, 0.6)


phonts logo 
     font-family: Raleway;
     font-style: normal;
     font-weight: bold;
     
phonts header names 
     font-family: Roboto;
     font-style: normal;
     font-weight: 500;
    
phonts hero
     font-family: Roboto;
     ont-style: normal;
     font-weight: 900 
     
phonts titels
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     
phonts main
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;


font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif;**/

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}

.logo-web {
  color: #2196f3;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}

.list {
  list-style: none;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
}
.btn {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: transparent;
}
.btn-portfolio {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: transparent;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  columns: #ffffff;
  background-color: #2196f3;
}

.hero {
  background: rgba(47, 48, 58, 0.8);
}

.hero-title {
  font-family: Roboto, sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.section-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.main-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.benefits-title,
.names {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #212121;
}

.what-we-do-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.projects {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  tter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}

.projects a {
  text-decoration: none;
}

.footer {
  background: #2f303a;
}

.join-us {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-linl {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
